.header{
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  &.bg-transparent{
    background-color: transparent;
    box-shadow: none;
    .logo-holder{
      img{
        max-height: 10rem;
        max-width:15rem;
      }
    }
  }
}

.logo-holder{
  img{
    max-height: 5rem;
    max-width: 10rem;
  }
  @media (min-width: 768px) {
    img{
      max-width: 15rem;
    }
  }
}
