.card{
  &-holder{

  }
  &-single{
    padding-right:5px;
    img{
      max-height: 22px;
    }
    @media (min-width: 768px) {
      padding-right:12px;
      img{
        max-height: 30px;
      }
    }
  }

  &-icon{
    position: absolute;
    right: .7rem;
    top: 50%;
    transform: translateY(-50%);
    img{
      max-height: 2.2rem;
    }
  }
}
