$color-grey: #f6f6f6;
$color-success: #009688;
$color-dark-custom: #2e2d2d;

//=== form
$form-field-height: 3.5rem;
$form-field-height-lg: 4rem;
$font-size-input: 1.2rem;
$box-shadow-input: inset 0 0.08em 0.4em rgba(0,0,0,.15);
$border-color-input: #e1e1e1;
