body, html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bg-grey {
  background-color: #f6f6f6;
}
.bg-dark-custom {
  background-color: #2e2d2d;
}

.text-success-custom {
  color: #009688;
}

.ls-1 {
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .mb-4 {
    margin-bottom: 2rem !important;
  }
}

.header {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.logo-holder img {
  max-height: 5rem;
  max-width: 10rem;
}

.btn-success-custom {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
}
.btn-success-custom:hover {
  background-color: #00AE9C;
  background-color: #157F74;
  border-color: #157F74;
  color: #fff;
}
.btn-navigation img {
  display: inline-block;
  position: relative;
  top: -2px;
  transition: 0.1s linear all;
}
.btn-navigation .img-right {
  margin-left: -6px;
}
.btn-navigation .img-left {
  margin-right: -6px;
}
.btn-navigation:hover .img-right {
  transform: translateX(0.2rem);
}
.btn-navigation:hover .img-left {
  transform: translateX(-0.2rem);
}
.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.form-control {
  box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
  border-color: #e1e1e1;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.form-control.form-control-lg {
  height: 4rem;
}
.form-control-label {
  font-size: 1.25rem;
  font-weight: 600;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 0;
  outline: 2px solid #000;
  box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
}
textarea.form-control {
  height: 6rem;
}

.select2-results__option {
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  font-weight: 500;
}

.box-amount {
  padding: 0.5rem 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-align: center;
  cursor: pointer;
  color: #009688;
  border: 1px solid #c5d9d7;
  border-radius: 0.6rem;
}
.box-amount:hover {
  background-color: #d5fcf7;
  color: #009688;
}
.box-amount.active {
  background-color: #009688;
  color: #fff;
}
.box-amount.active:hover {
  background-color: #009688;
  color: #fff;
}
.box-amount .icon-currency {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: -8px;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .box-amount {
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }
}

.amount-field {
  position: relative;
}
.amount-field .form-control {
  padding-left: 2.6rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.amount-field .icon-currency {
  position: absolute;
  left: 1.4rem;
  font-weight: 600;
  font-size: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999999;
}

.recurring-donation-checker {
  display: flex;
  align-items: center;
}
.recurring-donation-checker input[type=checkbox] {
  width: 1.4rem;
  height: 1.4rem;
  box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
  border-color: #ddd;
}
.recurring-donation-checker .checkbox-holder label {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 0.5rem;
  line-height: 1.5rem;
}

.checkbox-lg {
  width: 1.4rem;
  height: 1.4rem;
}
.checkbox-holder label {
  line-height: 1.6;
  position: relative;
  top: -2px;
}

.select2-selection__rendered {
  line-height: 3.5rem;
}

.select2-container .select2-selection--single {
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
  border-color: #e1e1e1;
}

.select2-selection__arrow {
  height: 3.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3.5rem;
  width: 3.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 7px 6px 0 6px;
}

.form-group.form-group-lg .select2-selection__rendered {
  line-height: 4rem;
}
.form-group.form-group-lg .select2-container .select2-selection--single {
  height: 4rem;
  font-size: 1.2rem;
}
.form-group.form-group-lg .select2-selection__arrow {
  height: 4rem;
}
.form-group.form-group-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 2rem;
}
.form-group.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 4rem;
  width: 3.5rem;
}

.card-single {
  padding-right: 5px;
}
.card-single img {
  max-height: 22px;
}
@media (min-width: 768px) {
  .card-single {
    padding-right: 12px;
  }
  .card-single img {
    max-height: 30px;
  }
}
.card-icon {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}
.card-icon img {
  max-height: 2.2rem;
}

.step-box {
  display: none;
}
.step-box.active {
  display: block;
}
.step-body {
  padding: 0 0 30px 0;
}

.footer {
  background-color: #161111;
}
.footer-top {
  background-color: #d3d3d3;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .footer-top {
    font-size: 18px;
    padding: 30px 0;
    font-weight: 600;
  }
}
.footer-bottom {
  padding: 15px 0;
  color: #fff;
}
.footer-bottom a.text-link {
  color: #fff;
  text-decoration: none;
}
.footer-bottom a.text-link:hover {
  color: #828dda;
}

/*# sourceMappingURL=style.css.map */
